@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Nova Slim', cursive;
}
:root{
  --white: #fff;
  --black: #000;
  --primary-color: #F0AF09BF;
  --secondary-color: #5663634D;
  --header-text: #F3AF04;
  --grad-mid: #A09F9FDE;
  --grad-start: #B28B2AC9;
  --grad-end: #DEA416A6;
}
/* #root{
  height: 100%
}
.App{
height: 100%;
} */